@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #1A120E;
  color: #F8F5F1;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "Cormorant Garamond", serif;
}